@page "/counter"
@inject ServicoSingleton singleton
@inject ServicoScoped scoped
@inject ServicoTransient transient

<h1>Counter</h1>

<p>Current count: @currentCount</p>
<hr />
<p>Singleton Count: @singleton.Valor</p>
<p>Scoped Count: @scoped.Valor</p>
<p>Transient Count: @transient.Valor</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
        singleton.Valor = currentCount;
        scoped.Valor = currentCount;
        transient.Valor = currentCount;
    }
}
