@page "/"
@inject ServicoSingleton singleton
@inject ServicoScoped scoped
@inject ServicoTransient transient

<p>Valor de Singleton: @singleton.Valor</p>
<p>Valor de Scoped: @scoped.Valor</p>
<p>Valor de Transient: @transient.Valor</p>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
